.catalog {
  display: grid;
  grid-template-columns: repeat(1, 200px);
  gap: 48px;
  justify-content: center;

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
